* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container {
    width: 65vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 1;
    position: relative;
}

.box-cadastro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-cadastro .box-titulo {
    flex: 1;
    display: flex;
    align-items: center;
}

.box-cadastro form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.box-cadastro form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5vh;
}

.box-cadastro form div label {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.box-cadastro form div select {
    cursor: pointer;
}

.box-cadastro form div input, .box-cadastro form div select  {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 3vh;
    width: 40vw;
    font-size: 1em;
    padding-left: .5vw;
    font-weight: bold;
}

.box-cadastro form div input:focus, .box-cadastro form div select:focus  {
    box-shadow: 0 0 10px black;
}

.box-cadastro form .box-button input {
    margin-top: 1.5vh;
    background-color: #dad8d7;
    cursor: pointer;
    font-weight: bold;
    height: 4vh;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 1em;
    transition: background-color .5s ease;
}

.box-cadastro form .box-button input:hover {
    background-color: #afadac;
}

.campo-crm {
    height: 3vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-crm p {
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.box-cadastro .box-cadastro {
    flex: 1;
    display: flex;
    align-items: center;
}

.box-cadastro .box-cadastro .link {
    color: #ccd5ee;
    text-decoration: none;
    font-style: italic;
    position: relative;
    transition: color .8s ease;
}

.box-cadastro .box-cadastro .link:hover {
    color: #878991;
}

.box-cadastro .box-cadastro .link::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #545572;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.box-cadastro .box-cadastro .link:hover::before {
    transform: scaleX(1);
}

.box-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: #3d3d6b;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    font-weight: bold;
}

.box-alert h1 {
    font-size: 2.2em;
}

.box-alert p {
    font-size: 1.5em;
    text-align: center;
}

.box-alert button {
    padding: 1vh 3vw;
    font-weight: bold;
    background-color: #a3acc5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.box-alert button:hover {
    background-color: #808696;
}

.box-alert .button-seguir {
    display: none;
}